on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    

jobs:

  container-scan:
      runs-on: ubuntu-latest
      name: container scan

      steps:
        - name: checkout
          uses: actions/checkout@v2

        - name: container-scan action step
          id: container-scan
          uses: veracode/container_iac_secrets_scanning@changeInstallFolder
          with:
            vid: ${{ secrets.VID }}
            vkey: ${{ secrets.VKEY }}
            command: "scan" 
            type: "directory"
            source: "./"
            format: "json"
            debug: false
            fail_build: true
