on:
#  pull_request:
#    branches: [main]
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 8
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
    - name: Build with Maven
      run: mvn clean package

    - uses: actions/upload-artifact@v4
      with:
        name: verademo.war
        path: target/verademo.war

  policy_scan:
      runs-on: ubuntu-latest
      needs: build
      steps:
      - name: Veracode Upload and Scan Action Step
        uses: veracode/uploadandscan-action@v0.1.9
        id: upload_and_scan
        with:
          appname: 'heeloworld'
          createprofile: true
          policy: 'Only VH flaws'
          version: 'new'
          filepath: './helloworld-2.0.jar'
          vid: '${{ secrets.VID }}'
          vkey: '${{ secrets.VKEY }}'
          scantimeout: 30
          failbuild: true
          gitRepositoryUrl: 'https://github.com/julz0815/test-action'
          deleteincompletescan: true
